* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #021024;
  position: relative;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 10px;
}

.container {
  width: 22rem;
  margin-top: 8rem;
  background-color: #7da0ca;
  border-radius: 10px;
  padding: 30px;
}

.inputs {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.inputs input {
  padding: 8px 0;
  width: 100%;
  margin-top: 10px;
  outline: none;
  height: 30px;
  border-radius: 5px;
  border-style: none;
  font-weight: bold;
  cursor: pointer;
}

#btSubmit {
  background-color: #b6410f;
}

#btNovo {
  background-color: #b6410f;
}

#btSubmit:hover {
  background-color: #c0754d;

  transition: 0.3s;
}
#btNovo:hover {
  background-color: #c0754d;
  transition: 0.3s;
}
